<include file="Public/head" />
<form id="fmform" action="" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="fmimg" name="imgtype" value="" />
    <input id="fmimg" style="display: none;" name="fmimg" type="file" onchange="upload('fmform','imgurl')"/>
</form>
<style type="text/css">
	table tr > td:first-child{padding-left:20px;padding-bottom:10px;width:40%;text-align:center;}
	table tr > td:last-child input{width:80%;margin-bottom:10px;	}
</style>
<div>
	<div style="margin:24px;">
		<input style="height:36px;" type="text" size="24px" placeholder="输入会员手机号过滤查询" id="phone" />
		<input style="height:36px;" type="text" size="24px" placeholder="输入会员昵称过滤查询" id="name" />
		<select class="form-control" style="width:24%;height:36px;display:inline;border-radius:2px;" id="grade">
				<option value="">请选择会员等级</option>
				<option value="1">学童</option>
				<option value="2">学霸</option>
				<option value="3">讲师</option>
				<option value="4">合伙人</option>
		</select>
		<label>&nbsp;注册日期 :</label>
		<input style="height:36px;" type="date" size="24px" id="insta" />至
		<input style="height:36px;" type="date" size="24px" id="inend" />
		<button id="submit_search" class="btn btn-primary" onclick="searchState();">查询会员</button>
		<button class="btn btn-primary" onclick="addUser()">添加会员</button>
		<div style="margin:24px;">
			<div style="margin-left:10px;width:180px;float:left;">总会员数: <em style="color:red;font-size:16px;"> {$num}</em>&nbsp;人</div>
			
		</div>
	</div>
	<div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="userlist" style="padding-right: 20px;">
			<table id="jqGrid" style="width: 100%;"></table>
			<div id="jqGridPager"></div> 	
	    </div>
    	<div role="tabpanel" class="tab-pane" id="edituser"> 		
	</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width:80%;margin:auto;">
    	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">添加 | 编辑会员信息　<span>(带<span style="color:red">*</span>号为必填项)</span></h4>
	      </div>
	       <div class="modal-body">
    				<table class="modal-table" style="width:80%;">
    					<tr>
							<td>导师账号<span style="color:red">&nbsp;*</span></td>
							<td>
								<input type="tel" class="form-control" id="ptel" placeholder="请输入导师的手机号"></td>
						</tr>
    					<tr>
							<td>手机号<span style="color:red">&nbsp;*</span></td>
							<td>
								<input type="tel" class="form-control" id="tel" placeholder="请输入正确手机号"></td>
						</tr>
    					<tr>
							<td>真实姓名<span style="color:red">&nbsp;*</span></td>
							<td><input type="hidden" name="userid" id="userid"/>
								<input type="text" class="form-control" name="rname" placeholder="真实姓名" id="rname"></td>
						</tr>
    					
						<tr id="pwdhide">	
							<td>密码<span style="color:red">&nbsp;*</span></td>
							<td><input type="password" class="form-control"  name="password" id="password" placeholder="六位以上的数组和字母"></td>
    					</tr>
						<tr>	
							<td>昵称<span style="color:red">&nbsp;*</span></td>
    						<td>
								<input type="text" class="form-control"  name="nickname" id="nickname" placeholder="昵称"></td>
    					</tr>
    					<tr>
							<td>头像</td>
							<td><img id="imgurl" name="imgurl" style="width: 130px;height: 130px;margin:5px auto;" class="form-control" src="__PUBLIC__/images/default.png" onclick="javascript:$('#fmimg').click();"/>
							<input id="thumbnail" type="hidden" name="thumbnail" value="" />
							<span style="color:red;">上传图片尺寸为:1145 * 500 px</span>
                            </td>
						</tr>
    					<!-- <tr>
    						    					<td>会员等级</td>
    									            <td>
    									                <select class="form-control"  name="level" id="level" style="width:80%;margin-bottom:10px">
    														<option value="1" >学童</option>
    														<option value="2" >学霸</option>
    														<option value="3" >讲师</option>
    														<option value="4" >合伙人</option>
    									                </select>
    									            </td>	    					
    						    				</tr> -->
	    				<tr id="isNo">
	    					<td>是否可用</td>
				            <td>
				                <select class="form-control"  name="isenable" id="isenable" style="width:80%;margin-bottom:10px">
									<option value="0" >不可用</option>
									<option value="1" >可用</option>
				                </select>
				            </td>	    					
	    				</tr>
						<tr>	
							<td>备注</td>
							<td><input type="text" class="form-control" name="remark" id="remark" placeholder="备注"></td>
	            		</tr>	           
    				</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="button" class="btn btn-primary" onclick="saveUser();">保存</button>
	      </div>		     
    	</div>
    </div>
  </div>
</div>
<include file="Public/footer" />
<script type="text/javascript">
	function formatLink(id) {
		return "<a class='btn btn-primary' onclick='edit("+id+");'>编辑</a>&nbsp;<a class='btn btn-danger' onclick='fall("+id+");'>查看下级</a>&nbsp;<a class='btn btn-primary' href='javascript:' onclick='fans("+id+");'>我的粉丝</a>&nbsp;<a class='btn btn-danger' href='javascript:' onclick='follow("+id+");'>我的关注</a>";
	};
	//上传图片
	function upload(fromID,imgid){
	  var vars=$("#"+fromID);
	  var options={
	      type:"post",
	      url:"{:U('/Admin/File/Upload')}",
	      dataType:'json',
	      contentType:"application/json;charset=utf-8",
	      success:function(data){
	          if(data!="false"){
	              $("#"+imgid).attr('src',data);
	              $("#vidurl").attr('poster',data);
	              $("#thumbnail").attr('value',data);
	          }
	      }
	  }
	  vars.ajaxSubmit(options);
	}
	function formatIs(is) {
		if (parseInt(is)) {
			return "可用";			
		}else{
			return "不可用";
		}
	}
	function addUser() {
  		$("#rname").val("");
		$("#phone").val("");
		$("#password").val("");  	
		$("#nickname").val("");
		//$("#level").val("");
		$("#thumbnail").val("");
		$("#userid").val("");
		$("#isNo").hide();
		$('.bs-example-modal-lg').modal().show(); 
	}
    //编辑用户信息
	function edit(id){
		$.ajax({
			url: "{:U('/Admin/User/getOneUser')}",
			dataType: "json",
			async: false,
			data: { "id": id},
			type: "GET",  
			success: function(user) {
	  			$("#rname").val(user.rname);
	  			$("#tel").val(user.phone);
	  			$("#password").val(user.password);  	
	  			$("#nickname").val(user.name);
	  			$("#imgurl").attr('src',user.headimg);
  				$("#vidurl").attr('poster',user.headimg);   	
  				$("#thumbnail").val(user.headimg);
  				$("#ptel").val(user.pt);
	  			/*$("#level option").each(function(){
	  				var val = $(this).val();
	  				if (val == user.grade) {
	  					$(this).prop("selected","selected");
	  				}else{
	  					$(this).removeProp("selected");
	  				}
	  			})*/
	  			$("#remark").val(user.remark);
	  			$("#isenable option").each(function(){
	  				var val = $(this).val();
	  				if (val == user.isenable) {
	  					$(this).prop("selected","selected");
	  				}else{
	  					$(this).removeProp("selected");
	  				}
	  			});  			
				$("#userid").val(id);
			}  
		});
		$("#isNo").show();
		$('.bs-example-modal-lg').modal().show(); 
	}

	function deleteUser(id){
		if (confirm("你确定要删除吗?")) {
			$.ajax({
				url: "{:U('/Admin/User/deleteUser')}",
				dataType: "text",
				async: true,
				data: { "id": id},
				type: "GET",   
				success: function(req) {
					if(req=="true")
					{
						$(window.parent.document).find("#main_iframe").attr("src","{:U('/Admin/User/User')}");
					}else{
						alert('用户删除失败!');
					}
				}
		    });			
		}
	}
	//我的下级
	function fall(id){
		$.ajax({
			url: "{:U('/Admin/User/getOneFall')}",
			dataType: "json",
			async: false,
			data: { "id": id},
			type: "GET",   
			success: function(data) {
				// alert(data);
				if(data >0){
					$(window.parent.document).find("#main_iframe").attr("src","{:U('/Admin/User/fall')}"+"?falluid="+data);
				}else{
					alert('用户下级为空!');
				}
			}
	    });			
	}
	//我的粉丝
	function fans(id){
		$.ajax({
			url: "{:U('/Admin/User/getOneFans')}",
			dataType: "json",
			async: false,
			data: { "id": id},
			type: "GET",   
			success: function(data) {
				// alert(data);
				if(data >0){
					$(window.parent.document).find("#main_iframe").attr("src","{:U('/Admin/User/fans')}"+"?fansuid="+data);
				}else{
					alert('用户粉丝为空!');
				}
			}
	    });			
	}
	//我的关注人
	function follow(id){
		$.ajax({
			url: "{:U('/Admin/User/getOneFol')}",
			dataType: "json",
			async: false,
			data: { "id": id},
			type: "GET",   
			success: function(data) {
				// alert(data);
				if(data >0)
				{
					$(window.parent.document).find("#main_iframe").attr("src","{:U('/Admin/User/follow')}"+"?fid="+data);
				}else{
					alert('用户关注人为空!');
				}
			}
	    });			
	}
	//保存添加或修改的用户信息
	function saveUser(){
		var userid   = $("#userid").val();
		var rname    = $("#rname").val();
		var password = $("#password").val();
		var tel	 = $("#tel").val();
		var pt  = $("#ptel").val();
		console.log(pt);
		var remark   = $("#remark").val();
		var thumbnail= $("#thumbnail").val();
		var nickname      = $("#nickname").val();
		var isenable   = $("#isenable option:selected").val();
		//var level   =  $("#level").val();
		var preg_name= /^[\u4E00-\u9FA5]{1,6}$/;  //姓名正则
		var preg_tel = /^1[34578]\d{9}$/; //手机号
        if(!preg_tel.test(tel)) {
            alert('请输入有效的手机号码!');return;
        }
		if (!preg_name.test(rname)) {
			alert('请输入有效姓名!');return;
		}  		  	
	  	if (password.length <6) {
	  		alert('密码不符合要求');
	  	}	
	  	$.ajax({
	  		type     : "POST",
	  		url      : "{:U('/Admin/User/saveUser')}",
	  		data     : {"userid":userid,"rname":rname,"nickname":nickname,"password":password,'pt':pt,"tel":tel,"thumbnail":thumbnail,"remark":remark,"isenable":isenable,},
	  		dataType : "json",
	  		error		 : function(){},
	  		success  : function(data){
	    			if(data.status == 1){
	    				alert(data.msg);
	    				// $(window.parent.document).find("#main_iframe").attr("src","{:U('/Admin/Video/index')}");
	    				$(window.parent.document).find("#main_iframe").attr("src","{:U('Admin/User/user')}");
	    			}else{
	    				alert(data.msg);
	    				// alert(data.info);
	    			}      				
	  		}
	  	});
	}
	//时间戳转换为日期格式
	function time(nS){
		 return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' '); 
	}
	function grade(as) {
		switch(parseInt(as)){
			case 1:
			  return "学童";
			  break;
			case 2:
			  return "学霸";
			  break;
			case 3:
			  return "讲师";
			  break;
			case 4:
			  return "合伙人";
			  break;
		} 
	}
	function formatterImg(thumbnail){
		return "<img src ="+thumbnail+" style='width: 50px;height: 50px;'  />";
	}
	$(document).ready(function($) {	
		$("#jqGrid").jqGrid({
			styleUI : 'Bootstrap',
			colModel: [
				{ label: '手机号', name: 'phone',width:'110'},
			    { label: '昵称', name: 'name',width:'80'},
			    { label: '图片', name: 'headimg',width:'120',formatter: formatterImg },
			    { label: '注册时间', name: 'createtime',width:'125',formatter: time},
			    { label: '账户余额', name: 'money',width:'100'},
			    { label: '积分', name: 'score',width:'50' },
			    { label: '累计提现', name: 'bnm',width:'70' },
			    { label: '会员等级', name: 'grade',width:'80',formatter: grade},
			    { label: '直推人数', name: 'person',width:'70'},
			    { label: '操作', name: 'id',width:280,formatter: formatLink}
			],
			viewrecords: true,
			rownumbers: true,
			rownumWidth: 35,
			height: document.documentElement.clientHeight-135,
			autowidth:true,
			rowNum: 9,
			datatype: 'local',
			loadonce:true,
			pager: "#jqGridPager"
		});
		$("#jqGrid").jqGrid('setGridParam', { data: eval({$data})});
		$("#jqGrid").trigger('reloadGrid');
	});
</script>
<script>
	//模糊查询会员
	function searchState(){
		var phone = $("#phone").val();
		var name = $("#name").val();
		var grade = $("#grade").val();
		var insta = $("#insta").val();
		var inend = $("#inend").val();
		if (insta.length <0 || inend.length <0) {
			alert('请选择时间');return;
		};
		$.ajax({
			url:"{:U('/Admin/User/searchUser')}",
			type:'GET',
			data:{'start':insta,'end':inend,'phone':phone,'grade':grade,'name':name},
			dataType:'json',
			success:function(returndata){
				$("#jqGrid").clearGridData();
	       		$("#jqGrid").jqGrid('setGridParam', { data: returndata});
	       		$("#jqGrid").trigger('reloadGrid');
			}
		});
	}
</script>
